@import './variables.css';

main section .profile-pic {
    width: 750px;
    height: 750px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 30px;
  }
  main section .profile-pic .screen {
    padding: 10px;
    margin: 0px;
  }
  main section .profile-pic .screen .link .my-pic {
    display: block;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: box-shadow 2s ease; /* Add transition */
    box-shadow: 0 0 0 transparent; /* Set initial box shadow to transparent */
  }
  main section .profile-pic .screen .link .my-pic:hover {
    box-shadow: 0 0 50px 15px #406af4; /* Adjusted box shadow on hover */
  }
  main section .profile-pic .hover-display-about {
    position: absolute;
    font-size: 2.5rem;
    color: rgba(255, 255, 255);
    pointer-events: none; /* This allows pointer events to pass through the element */
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 2s ease; /* Transition for opacity over 2 seconds */
  }
  main section .profile-pic:hover .hover-display-about {
    opacity: 0.6;
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
  }
  
  @media screen and (max-width: 1580px) {
    main section .profile-pic {
      width: 700px;
      height: 700px;
    }
    main section .profile-pic .screen {
      padding: 10px;
    }
    main section .profile-pic .screen .link .my-pic {
      width: 650px;
      height: 650px;
    }
  }
  @media screen and (max-width: 800px) {
    main section .profile-pic {
      width: 550px;
      height: 550px;
    }
    main section .profile-pic .screen {
      padding: 10px;
    }
    main section .profile-pic .screen .link .my-pic {
      width: 500px;
      height: 500px;
    }
  }
  @media screen and (max-width: 600px) {
    main section .profile-pic {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    main section .profile-pic .screen {
      padding: 7px;
    }
    main section .profile-pic .screen .link .my-pic {
      width: 300px;
      height: 300px;
    }
    main section .profile-pic .camera-lens .lens-image {
      width: 7px;
      height: 7px;
    }
  }